@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    @apply overflow-x-hidden;
  }
  .wrapper {
    @apply w-[90%] mx-auto md:w-[85%] lg:w-[80%];
  }

  .btn {
    @apply bg-main rounded-full px-5 py-2 text-white font-[500];
  }
}

.swiper-pagination-bullet {
  background-color: #f61b1e !important;
}

/* Custom CSS For Spinner/Loader */
/* From Uiverse.io by kerolos23 */
.loader {
  width: 53px;
  height: 53px;
  border: 5px dotted #000;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 4px dotted #f00;
  border-style: solid solid dotted;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
